@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$primary: #0150bd;
$secondary: #002553;
$tertiary: white;


body {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.container {
  font-family: 'Lato', sans-serif;
  color : $secondary;
}

.btn-primary {
  background-color: $secondary;
  border-color: $secondary;
  color: darken($tertiary, 10%);
}

.btn-primary:hover {
  background-color: $primary;
  border-color: $primary;
}


.custom-option {
  background-color: $tertiary;
}

.my-name {
  color: $primary;
  word-break: break-word;
}

h1 {
  font-size: 1em;
}

.custom-label {
  text-align: left !important;
}

@media (max-width: 767.98px) {
  .my-message {
    font-size: 2em;
  }
}